:root {
    /* accent-color is the  */
    --accent-color: rgb(145, 203, 205);
    /* body-background is the body's backgound */
    --body-background: rgb(237, 238, 246);
    /* header-background is the header's background */
    --header-background: rgb(49, 52, 61);
    /* information-color the font-color for main and footer  */
    --information-color: rgb(72, 96, 161);
    /* information-font the font-family for main and footer */
    --information-font: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

p {
    font-size: 16px;
}

body {
    background-color: var(--body-background);
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.3;
}

header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--header-background);
    color: var(--accent-color);
    
}

header h1 {
    display: flex;
    font-size: 45px;
    background-color: var(--accent-color);
    color: var(--header-background);
    padding-left: 100px;
    padding-right: 25px;
    margin-left:-50px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-size: 25px;
}

nav a {
    color: var(--accent-color);
    text-decoration: underline;
    padding: 14px 15px;
    text-align: center;
}

nav a:hover {
    color:#fff;
}

/* forst-drawing changes the image of the forest between the header and main */
.forest-drawing {
    background-image: url("../images/forst-drawing.jpg");
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-bottom: 20px;
    margin-block-start: auto;
    background-size: cover;
    background-position: center;
    
}

main {
    display:flex;
    color: var(--information-color);
    font-size: 20px;
    font-family: var(--information-font);
}

/*  */
.about-me{
    display: flex;
    background-color: black;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;

}

.about-me h1{
    margin-left: 380px;
}

.work{
    display: flex;
    background-color: grey;
    margin-bottom:20px;
    padding: 50px;
    height: 300px;
   
}

footer{
    background-color: aqua;
    display: flex;
    color: var(--information-color);
    font-family: var(--information-font);
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}

.float-right{
    float: right;
    margin-left:20px;
}

.float-left{
    float: left;
    margin-right:20px;
}


@media screen and (max-width: 768px) {
    header,
    nav,
    figure,
    main,
    footer { 
      flex-direction: column;
    }
  }